accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
asttokens
attrs
av
bitsandbytes
certifi
charset-normalizer
click
comm
datasets
debugpy
decorator
decord
# deepspeed
dill
docker-pycreds
einops
exceptiongroup
executing
torch
# flash_attn
filelock
frozenlist
fsspec
gitdb
GitPython
hjson
huggingface-hub
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
Jinja2
jupyter_client
jupyter_core
jupyterlab_widgets
# liger_kernel
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mpmath
msgpack
multidict
multiprocess
nest_asyncio
networkx
ninja
numpy
opencv-python
packaging
pandas
parso
peft
pexpect
pickleshare
pillow
pip
platformdirs
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
pyarrow
pydantic
pydantic_core
Pygments
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
rich
safetensors
sentry-sdk
setproctitle
setuptools
six
smmap
stack_data
sympy
tensorboardX
tokenizers
torchaudio
torchcodec
torchvision
tornado
tqdm
traitlets
git+https://github.com/huggingface/transformers.git
# triton
trl
typing_extensions
typing-inspection
tzdata
ujson
urllib3
wandb
wcwidth
wheel
widgetsnbextension
xxhash
yarl
zipp
easydict
